extends layout

block content
    - const happyFace = 'images/Happy_face.png';
    - const neutralFace = 'images/Neutral_face.png';
    - const angryFace = 'images/Angry_face.png';
    - const twitterLogo = 'images/banner_Snipped.JPG'
    a(href = '/')
            button.ui.inverted.orange.button Home
    if tweetsCount === 0
        h1 no tweets found for #{searchQuery}
    else
        .homePage
            p.titleText TWEETIMENT
            img.titleBanner(src = twitterLogo height = 100 width=400)
        .searchBar 
            h2.homeHeading Enter hashtag for sentiment analysis:
            form.searchRelatedArtist.ui.big.form(action= '/twitter' method = 'get')
                .container
                    input.searchBox(type='text' required placeholder = 'Search Keyword' name = 'search')
                .submitButton
                    button.searchButton.ui.orange.basic.button(type = 'submit') Submit
        .contentPage    
            h1.resultText Results for ##{searchQuery} out of #{tweetsCount} tweets
            .countArea
                h1.tweetText Positive Tweets Percentage
                img.emojiFace(src= happyFace width =100 height =100)
                p.count #{positiveTweetsPercentage}%
                h2.resultText Sample Tweets
                each tweet in positiveTweetsArray
                    p.tweetText #{tweet}
            .countArea
                h1.tweetText Neutral Tweets Percentage
                img.emojiFace(src= neutralFace width=100 height=100)
                p.count #{neutralTweetsPercentage}%
                h2.resultText Sample Tweets
                each tweet in neutralTweetsArray
                    p.tweetText #{tweet}
            .countArea
                h1.tweetText Negative Tweets Percentage
                img.emojiFace(src = angryFace width=100 height=100) 
                p.count #{negativeTweetsPercentage}%
                h2.resultText Sample Tweets
                each tweet in negativeTweetsArray   
                    p.tweetText #{tweet}

        
